*{
    margin: 0px;
    padding: 0px;
}
header{
    
    background-color: yellow;
}
header h1{
    font-size: 70px;
    text-align: center;

}
header p{
    font-size: 23px;
    text-align: center;
    background-color: blue;
    width: 100%;
    color: white;
}
main{}


.ttl{/*course & success h2 color*/
    margin-left: 15px;
    font-family: sans-serif;
    
    width: fit-content;
}
/*----------course----------*/
.course{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    
    margin: 15px
    
}

.wbp{

    width: 150px ;
    height:;
    overflow: hidden;
    box-shadow: 1px 1px 10px black;
    background-color: aliceblue;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}
.wbp img{
    width: 120px;
    margin-left: 15px;
    margin-right: auto ;
    margin-top: 15px;
} 
.wbp h2{
    text-align: center;
}
.wbp button{
    background-color: yellowgreen;
    font-size: 15px;
    width: 100%;
    border: none;
    padding: 5%;
}




/*----------successful student-----------*/
.success{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    
}
.student{
    width: 350px;
    background-color: aqua;
    float: left;
    height: 100px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin: 15px;
    
    
}
.student img{
    float: left;
}
.student2{
    width: 350px;
    background-color: aqua;
    float: left;
    height: 100px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    text-align: right;
    margin: 15px;
    
}
.student2 img{
    float: right;
}
.t{
    margin-left: 105px;
}
.y{
    margin-right: 105px;
}


/*-----photo gallery----------*/

.photo{
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
    
.photo img{
    width: 200px;
    border-radius: 10px;


}
















@media (max-width:500px) {
    header h1{
        font-size: 40px;
    }
    header p{
        font-size: 15px;
        
    }
    .course{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        align-items:center;
        margin-left: auto;
        margin-right: auto;
        margin: 15px;
        
    }
    .wbp{

        width: 150px ;
        overflow: hidden;
        box-shadow: 1px 1px 10px black;
        background-color: aliceblue;
        margin-left:auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        
        
    }
    .wbp img{
        width: 100px;
        margin-left: 25px;
        margin-right: auto ;
        margin-top: 15px;
    } 
    .wbp h2{
        font-size: 20px;
        text-align: center;
    }
    .wbp button{
        background-color: yellowgreen;
        font-size: 10px;
        width: 100%;
        border: none;
        
    }
    /*----------successful student-----------*/
    .success{
        width: auto;
        display: block
        padding: ;
        overflow: hide;
        
    }
    .student{
        width: 80%;
        background-color: rgb(12, 5, 83);
        float: left;
        height: 70px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        margin-left: 10%;
        margin-right: 5%;
        color: aliceblue;
        font-size: 12px;
        
    }
    .student img{
        float: left;
        height: 70px;
    }
    .student2{
        width: 80%;
        background-color: rgb(11, 84, 84);
        float: left;
        height: 70px;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        text-align: right;
        margin-left: 5%;
        margin-right: 10%;
        color: white;
        font-size: 12px;
    }
    .student2 img{
        float: right;
        height: 70px;
    }
    .t{
        margin-left: 105px;
    }
    .y{
        margin-right: 105px;
    }
    .photo{
        display: block;
       
    }
    .photo img{
        width: 140px;
        margin-top: 10px;
    }
}
