*{
    margin: 0px;
    padding: 0px;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    background-color: orangered;
    margin: 15px
    
}

.wbp{

    width: 150px ;
    height:;
    overflow: hidden;
    box-shadow: 1px 1px 10px black;
    background-color: aliceblue;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}
.wbp img{
    width: 120px;
    margin-left: 15px;
    margin-right: auto ;
    margin-top: 15px;
} 
.wbp h2{
    text-align: center;
}
.wbp button{
    background-color: yellowgreen;
    font-size: 15px;
    width: 100%;
    border: none;
    padding: 5%;
}

@media (max-width:500px) {
    main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    background-color: orangered;
    margin: 15px
    }
    .wbp{

        width: 100px ;
        height:;
        overflow: hidden;
        box-shadow: 1px 1px 10px black;
        background-color: aliceblue;
        margin-left:auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        
        
    }
    .wbp img{
        width: 70px;
        
        
    } 
    .wbp h2{
        font-size: 20px;
        text-align: center;
    }
    .wbp button{
        background-color: yellowgreen;
        font-size: 10px;
        width: 100%;
        border: none;
        ;
    }
    
}